# Sample People Analytics Dataset

### Import Necessary Packages

In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
employee_data = [
['E00001', '12/01', 25, 23],
['E00001', '12/02', 25, 21],
['E00001', '12/03', 30, 29],
['E00001', '01/04', 'NA', 20],
['E00001', '01/05', 30, 19],
['E00002', '12/01', 31, 17],
['E00002', '12/02', 33, 16],
['E00002', '12/03', 29, 16],
['E00003', '12/01', 25, 26],
['E00003', '12/02', 32, 27],
['E00003', '11/03', 28, 28],
['E00004', '11/01', 29, 27],
['E00004', '11/02', 27, 27],
['E00004', '11/03', 'NA', 25],
['E00004', '12/04', 25, 24],
['E00004', '12/05', 25, 23],
['E00004', '12/06', 29, 23],
['E00004', '12/07', 31, 23],
['E00005', '12/01', 25, 21],
['E00006', '12/02', 18, 16],
['E00006', '12/03', 19, 14],
['E00006', '01/01', 19, 19],
['E00007', '10/01', 24, 23]
]

In [11]:
manager_data = [
['M0001', 'E00001', 'USA'],
['M0001', 'E00002', 'USA'],
['M0001', 'E00003', 'USA'],
['M0002', 'E00004', 'USA'],
['M0002', 'E00005', 'USA'],
['M0002', 'E00006', 'USA'],
['M0003', 'E00007', 'IND'],
]

Create separate dataframes to store employee and manager information

In [12]:
emp_df = pd.DataFrame(employee_data, columns = ['employee_id','date','phone_calls','satisfied'])
manager_df = pd.DataFrame(manager_data, columns = ['manager_id','direct_report_id','country'])

### Table Preview

In [20]:
print("Table size: ", emp_df.shape)
emp_df.head()

Table size:  (23, 4)

  employee_id   date phone_calls  satisfied
0      E00001  12/01          25         23
1      E00001  12/02          25         21
2      E00001  12/03          30         29
3      E00001  01/04          NA         20
4      E00001  01/05          30         19

In [21]:
print("Table size: ", manager_df.shape)
manager_df.head()

Table size:  (7, 3)

  manager_id direct_report_id country
0      M0001           E00001     USA
1      M0001           E00002     USA
2      M0001           E00003     USA
3      M0002           E00004     USA
4      M0002           E00005     USA

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23 entries, 0 to 22
Data columns (total 4 columns):
employee_id    23 non-null object
date           23 non-null object
phone_calls    23 non-null object
satisfied      23 non-null int64
dtypes: int64(1), object(3)
memory usage: 864.0+ bytes